 <style type="text/css">
    h1{ 
      border: 10px #E0B3BF;
      cursor: crosshair;
    }
       a{
         color:black;
         background-color: #E0B3BF;
       }
body{
 background-color: #DDD2BA;
 font-size: 30px;
}
       </style>
* {
 text-align: center;
}
    
.container {
 background: #DDD2BA;
 width:70%;
 max-width:1000px;
 margin: 0 auto;
}
 .header{
  background-color: #C69891;
  height: 30px;

 }
   .body{
  background-color: #DDD2BA;
  height: 100px;
    padding: 50px;
   }
  .footer{
  background-color: #C69891;
  height: 50px;
}

